
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;

}

body {
    width: 100%;
    height: 100vh;
    position: relative;
    background-image: url(./assets/bgi.jpg);
    background-position: center;
    background-size: cover;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 13px 26px;
}

.logo {
    font-size: 30px;
    font-weight: bold;
    color: #fff;
}
.logo span {
    color: greenyellow;
}
.navbar {
    margin-left:  400px;
}
.navbar ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.navbar ul li a {
    color: #000;
    font-size: 18px;
    transition: .3s;
}

.navbar ul li a:hover {
    scale: 1.1;
    color: blue;
    background: transparent;
    border-radius: 20px;
    box-shadow: 0 0 30px yellowgreen;
    text-decoration: none;
}

.icon {
    display: flex;
    align-items: center;
    gap: 22px;
}

.icon li {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 50%;
    transition: .4s;
    box-shadow: 0 22px 30px blue;
    cursor: pointer;
}

.icon li i {
     font-size: 25px;
     cursor: pointer;
}

.icon li:hover {
    scale: 1.1;
    box-shadow: 0 22px 30px yellowgreen;
}

.hero {
    position: relative;
    width: 100%;
    /* height: 100vh; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-content {
    margin-left: 70px;
    margin-top: 30px;
}
.hero-content h1 {
    color: yellowgreen;
    font-size: 44px;
    font-weight: bold;
}

.hero-content p {
    color: #000;
    font-size: 17px;
}

.hero-content .btn {
    margin-top: 15px;
}


.btn button {
    width: 160px;
    padding: 8px ;
    background-color: greenyellow;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: .4s;
}

.btn button:hover {
    scale: 1.1;
    box-shadow: 0 0 10px blue;

}

.social-media {
    display: flex;
    align-items: center;
    gap: 22px;
    margin-top: 50px;
}

.social-media li {
    width: 40px ;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 22px 30px yellowgreen;
    outline: none;
    border-radius: 50%;
    cursor: pointer;
    transition: .4s;
}

.social-media li i {
    font-size: 17px;
}

.social-media li:hover {
    scale: 1.1;
    box-shadow: 0 22px 30px blue;
}

.image img {
    width: 800px;
    filter: drop-shadow(0 22px 30px yellowgreen);
}